* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MontSerrat, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  
}

header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  overflow: hidden;
  min-height: 100px;
  height: 18vh;
}

header p {
  color: #fafafa;
  font-size: 2em;
  margin: 0 20px;
  flex-grow: 1;
  text-align: center;
}

header nav {
  flex-grow: 1;
  text-align: center;
}

header nav a, header nav a:visited{
  color: white;
  text-decoration: none;
  margin: 10px 5px;
}

header nav a:hover {
  color: #afc;
}

main #who-am-i {
  text-align: justify;
}

#who-am-i h2, #projects h2, #skills h2 {
  text-align: center;
  padding: 10px;
}

main section, main #who-am-i, main #projects #div-projects {
  padding: 10px 20px 20px 20px;
  width: 85vw;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

main #projects #div-projects div {
  box-shadow: 2px 2px 5px rgba(50 , 50 , 50 , 0.5);
  box-sizing: content-box;
  background-color: rgba(220 , 220 , 220 , 0.8);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 15px;
  border-radius: 10px;
  margin: 5px 14px;
  flex-basis: 100px;
  text-align: center;
}

main #projects #div-projects div:hover {
  transform: scale(1.05);
}

main #projects #div-projects div:active {
  transform: scale(0.95);
}

main #projects #div-projects div a, main #projects #div-projects div a:visited {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

main #projects #div-projects div img {
  width: 200px;
  display: flex;
}

#projects p {
  padding-bottom: 10px;
}

#footer {
  font-family: Nanum Gothic, sans-serif;
  margin-top: 20px;
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}

#footer a {
  color: #888;
  text-decoration: none;
}

#footer a:hover {
  color: #d55;
}

